---
layout: default
---

<div class="episodes">
  <h1 class="post-title">{{ page.title }}</h1>
  
  <ul class="crew-list">
    {% for episode in site.episodes%}
      <li >
          <a class="episode-link" href="{{ episode.url | relative_url }} ">
          <div class="episodes-picture-wrapper">
            <img class="crew-picture" src="/assets/thumbnails/{{episode.episode_number}}.jpg" alt="{{ episode.title }}">

          </div>
            <div class="crew-name-wrapper">
              <h2 class="crew-role">{{ episode.professor }}</h2>
              <p class="crew-name">{{ episode.institution }}</p>
            </div>
          </a>
      </li>
    {% endfor %}
  </ul>
</div>