---
layout: default
---

<div class="home">
  {%- if site.episodes.size > 0 -%}
    <h2 class="post-title">Latest Episode</h2>
    <ul class="post-list">
      {%- assign last_post = site.episodes.last -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ last_post.date | date: date_format }}</span>
        <a class="post-link" href="{{ last_post.url | relative_url }}">
          <div class="latest-thumbnail-wrapper">
            <img class="latest-thumbnail" src="/assets/thumbnails/{{last_post.episode_number}}.jpg"/>
          </div>
        <h3>
            {{ last_post.title | escape }}
            <h4 class="latest-school-title"> {{last_post.institution | escape}}</h4>
        </h3>
        </a>
        <div class="social-icons-wrapper-latest social-icons-wrapper">
          <a href="{{last_post.youtube}}" target="_blank">
            <img class="crew-social-logo" src="/assets/images/youtube.svg"/>
          </a>
          <a href="{{last_post.spotify}}" target="_blank">
            <img class="crew-social-logo" src="/assets/images/spotify.svg"/>
          </a>
          <a href="{{last_post.apple}}" target="_blank">
            <img class="crew-social-logo" src="/assets/images/apple-podcasts.svg"/>
          </a>
        </div>
      </li>
    </ul>
  {%- endif -%}

</div>